.feedback-section {
  margin: 30px auto;
  padding: 30px 0;
  background-color: $color-gray-5;
  .container {
    max-width: 1500px;
    .feedback-title {
      padding: 10px 10px;
    }
    .feedback-content {
      .carousel {
        position: relative;
        .carousel-control-prev,
        .carousel-control-next {
          position: absolute;
          top: 35%;
          width: 50px;
          height: 50px;
          display: block;
          line-height: 50px;
          padding: auto auto;
          opacity: 1;
          @include text($color-blue, $fs-3, $fw-normal);
          border-radius: 50%;
          background-color: $color-white-0;
          z-index: 1;
          border: 1px solid $color-gray-2;
        }
        .carousel-control-prev {
          left: -20px;
        }
        .carousel-control-next {
          right: -20px;
        }
        .carousel-inner {
          position: unset;
          .carousel-item {
            .card {
              padding: 0 20px;
              .card-top {
                padding-top: 20px;
                padding-bottom: 10px;
                padding-left: 20px;
                span {
                  @include text($color-black-0, $fs-0 + 1, $fw-bold-0);
                }
                img {
                  width: 64px;
                  height: 64px;
                  border-radius: 50%;
                  margin-right: 10px;
                }
              }
              .card-body {
                padding-top: 0;
              }
            }     
          }
        }
      }
    }
    .feedback-footer{
        text-align: center;
        .partner-text{
            padding-top: 32px;
            @include text($color-gray-4, $fs-1, $fw-normal)
        }
        .partners-logo{
            display: flex;
            justify-content: center;
            padding-top: 32px;
            .logo-item{
                padding: 0 30px; 
            }
        } 
        .student-intro{
            text-align: center;
            padding-top: 32px;
            .student-intro-item{          
                width: 40%;
                margin: 0 auto;
                h4{
                    @include text($color-black-0, $fs-2, $fw-bold-0);
                }
            }
            .teach-item{
                border-right: 1px solid $color-gray-7;
            }
        }
    }
  }
}
@include mediaQuery("small"){
  .feedback-footer{
    .partners-logo{
      flex: wrap;
      flex-direction: column;
      .logo-item{
        margin-top: 10px;
      }
    }
  }
}