#header {
  border-bottom: 1px solid #000000;
  .header__left {
    .navbar-brand {
      flex-grow: 1;
      img {
        width: 100px;
      }
    }
    .input-group {
      p {
        flex-grow: 1;
        margin-bottom: 0;
      }
    }
    .categories {
      flex-grow: 1;
      align-self: center;
      margin-bottom: 0;
    }
    .input-search {
      flex-grow: 5;
    }
  }
  .navbar-nav {
    justify-content: space-around;
    width: 100%;
    .nav-item {
      .header__button {
        display: flex;
      }
      .nav-link {
        @include text($color-black-light, $fs-1, $fw-normal);
        padding: $pd-1 + 2 $pd-1 + 5;
        border: 1px solid $color-white-0;
        &:hover {
          background-color: $color-gray-1;
          border: 1px solid $color-gray-3;
        }
      }
      &:nth-child(3) {
        .nav-link {
          @include text($color-black-light, $fs-2, $fw-normal);
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
    }
  }
  @include mediaQuery("extra-large") {
    .business,
    .teach {
      display: none;
    }
  }
  @include mediaQuery("medium") {
    .categories,
    .input-search {
      display: none;
    }
  }
}
